<div class="container pt-3">

<div class="col-md-8 order-md-1">
  <h4 class="mb-3">User Registration</h4>
        <form class="needs-validation" action="/user/register" method="POST">
            <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" name="firstName" required>
                <div class="invalid-feedback">
                Valid first name is required.
                </div>
            </div> 
            <div class="col-md-6 mb-3">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" placeholder="" name="lastName" required>
                <div class="invalid-feedback">
                Valid last name is required.
                </div>
            </div>
            </div>  
            <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Optional)</span></label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
            </div>
            <div class="mb-3">
            <label for="email">Password <span class="text-muted">(Optional)</span></label>
            <input type="password" class="form-control" id="email" placeholder="your password" name="password">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
            </div>
            <div class="mb-3">
            <label for="email">Password <span class="text-muted">(Optional)</span></label>
            <input type="password" class="form-control" id="email" placeholder="your password again" name="repassword">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
            </div>

            <div class="mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="address" required>
            <div class="invalid-feedback">
                Please enter your shipping address.
            </div>
            </div>


            <div class="row">
            <div class="col-md-5 mb-3">
                <label for="country">Gender</label>
                <select class="custom-select d-block w-100" id="country" name="gender" required>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
                </select>
                <div class="invalid-feedback">
                Please select a valid Gender.
                </div>
            </div>
            
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Registration</button>
        </form>
</div>

</div>